@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--scroll-track: rgb(255 255 255);
	--scroll-thumb: rgb(0 0 0);
	--scroll-track-hover: rgb(228 228 231);
	--scroll-thumb-hover: rgb(113 113 122);
}

.dark {
	--scroll-track: rgb(24 24 27);
	--scroll-thumb: rgb(255 255 255);
	--scroll-track-hover: rgb(63, 63, 70);
	--scroll-thumb-hover: rgb(212 212 216);
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

::-webkit-scrollbar {
	height: 5px;
	width: 5px;
}

::-webkit-scrollbar-thumb {
	background: var(--scroll-thumb);
	border-radius: 50px;
}

::-webkit-scrollbar-thumb:active,
::-webkit-scrollbar-thumb:hover {
	background: var(--scroll-thumb-hover);
}

::-webkit-scrollbar-track {
	width: 5px;
	border-radius: 50px;
	background: var(--scroll-track);
}

::-webkit-scrollbar-track:active,
::-webkit-scrollbar-track:hover {
	background:var(--scroll-track-hover);
}

::-webkit-scrollbar-corner{
	background: transparent;
}