@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--scroll-track: rgb(255 255 255);
	--scroll-thumb: rgb(0 0 0);
	--scroll-track-hover: rgb(228 228 231);
	--scroll-thumb-hover: rgb(113 113 122);
	--bg-tooltip: rgb(82 82 91 / 0.9);
}

.dark {
	--scroll-track: rgb(24 24 27);
	--scroll-thumb: rgb(255 255 255);
	--scroll-track-hover: rgb(63, 63, 70);
	--scroll-thumb-hover: rgb(212 212 216);
	--bg-tooltip: rgb(244 244 245);
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

::-webkit-scrollbar {
	height: 5px;
	width: 5px;
}

::-webkit-scrollbar-thumb {
	background: var(--scroll-thumb);
	border-radius: 50px;
}

::-webkit-scrollbar-thumb:active,
::-webkit-scrollbar-thumb:hover {
	background: var(--scroll-thumb-hover);
}

::-webkit-scrollbar-track {
	width: 5px;
	border-radius: 50px;
	background: var(--scroll-track);
}

::-webkit-scrollbar-track:active,
::-webkit-scrollbar-track:hover {
	background:var(--scroll-track-hover);
}

::-webkit-scrollbar-corner{
	background: transparent;
}

.tippy-box[data-placement^='top'] > .tippy-arrow {
	border-width: 6px 8px 0px 8px;
	border-color: var(--bg-tooltip) transparent transparent transparent;
	bottom: -6px;
}
.tippy-box[data-placement^='bottom'] > .tippy-arrow {
	top: -6px;
	border-width: 0px 8px 6px 8px;
	border-color: transparent transparent var(--bg-tooltip) transparent;
}
.tippy-box[data-placement^='left'] > .tippy-arrow {
	right: -6px;
	border-width: 8px 0px 8px 6px;
	border-color: transparent transparent transparent var(--bg-tooltip) ;
}
.tippy-box[data-placement^='right'] > .tippy-arrow {
	left: -6px;
	border-width: 8px 6px 8px 0px;
	border-color: transparent var(--bg-tooltip) transparent transparent;
}

.multiSelectContainer li {
	color: black;
}

.multiSelectContainer input:focus {
	box-shadow: none;
}

.multiSelectContainer span.chip + input {
	border-top: 1px solid #aaaaaa;
	margin-top: 4px !important;
	padding-top: 4px !important;
}